body {
    min-width: 360px
}

/* MaterializeCSS Select Box Style Overrides */
.dropdown-content li > a {
    color: #01579b;
    text-shadow: none;
}
.modal .subopt i {
    margin-left: 1rem;
}

.modal .subopt span:hover,
#createQuiz .subopt span:hover,
#editQuiz .subopt span:hover,
.quiz-search .subopt span:hover {
    border-bottom: 1px solid #01579b;
}

.modal .optgroup-option,
#createQuiz .optgroup-option,
#editQuiz .optgroup-option,
.quiz-search .optgroup-option {
    display: none;
}

.modal .select-dropdown.dropdown-content li,
#createQuiz .select-dropdown.dropdown-content li,
#editQuiz .select-dropdown.dropdown-content li,
.quiz-search .select-dropdown.dropdown-content li {
	background-color: rgba(0,0,0,0.08);
}

.modal .select-wrapper input.select-dropdown:focus,
#createQuiz .select-wrapper input.select-dropdown:focus,
#editQuiz .select-wrapper input.select-dropdown:focus,
.quiz-search .select-wrapper input.select-dropdown:focus {
	border-bottom: 1px solid #9e9e9e;
}

.modal .select-dropdown.dropdown-content li,
.modal .select-dropdown.dropdown-content li:hover,
#createQuiz .select-dropdown.dropdown-content li,
#createQuiz .select-dropdown.dropdown-content li:hover,
#editQuiz .select-dropdown.dropdown-content li,
#editQuiz .select-dropdown.dropdown-content li:hover,
.quiz-search .select-dropdown.dropdown-content li,
.quiz-search .select-dropdown.dropdown-content li:hover {
	background-color: rgba(0,0,0,0);
}

.modal .select-dropdown li.optgroup,
#createQuiz .select-dropdown li.optgroup,
#editQuiz .select-dropdown li.optgroup,
.quiz-search .select-dropdown li.optgroup {
	border-top: 0;
}

.modal .dropdown-content li,
#createQuiz .dropdown-content li,
#editQuiz .dropdown-content li,
.quiz-search .dropdown-content li {
	min-height: 40px;
}

.modal .dropdown-content li > a,
.modal .dropdown-content li > span,
#createQuiz .dropdown-content li > a,
#createQuiz .dropdown-content li > span,
#editQuiz .dropdown-content li > a,
#editQuiz .dropdown-content li > span,
.quiz-search .dropdown-content li > a,
.quiz-search .dropdown-content li > span {
	padding: 7px 16px;
}

/* Disable Transition/Transform on custom MaterializeCSS Select Box */
/* Works around MaterializeCSS issue #6464 */
.select-wrapper * {
    transition: none !important;
    transform: none !important;
}

/* MaterializeCSS nav style overrides */
nav .nav-title {
    padding: 0 0 0 15px !important;
}

nav ul a:hover {
    background-color: rgba(0,0,0,0.1);
}

.sidenav li > a:hover {
	background-color: rgba(0,0,0,0.1);
}

nav .fa-caret-down {
    font-size: 15px;
    margin-left: 3px;
}

/* Image Preview Styling */
img {
    max-width: 600px;
    max-height: 600px;
}

img.small {
    max-width: 300px;
    max-height: 300px;
}

/* MaterializeCSS Modal Style Overrides */
.modal-action-container {
    font-size: 0;
}

.modal {
    min-width: 300px;
    max-width: 512px;
}

form .modal-content .row,
form .user-search .row {
    margin-bottom: 10px;
}

.modal-title-row h4 {
    margin-bottom: 0;
}

.modal-close-button {
    line-height: 1;
    font-weight: 700;
    padding-right: 0;
    font-size: 2rem;
    text-align: right;
    margin-top: -.5rem;
}

form .modal-content .input-field,
form .user-search .input-field {
    margin-bottom: 0;
}

#modalYesButton,
#modalNoButton {
    width: 77px;
    padding: 0 0.75rem;
}

#modalYesButton {
    margin-right: 4px !important;
    margin-left: calc(100% - 158px) !important;
}

.modal-action-container,
.search-action-container {
    margin-bottom: 0 !important;
}

.modal-action-container button,
.modal-action-container button i,
.search-action-container button,
.search-action-container button i {
    font-size: 1.2rem;
}

/* MaterializeCSS Collection Style Overrides */
.collection.user-search-results>.collection-item>.row,
.collection.quiz-search-results>.collection-item>.row {
    margin-bottom: 0;
}

.collection.user-search-results>.collection-item>.row>.col,
.collection.quiz-search-results>.collection-item>.row>.col {
    padding-left: 0;
    padding-right: 0;
}

.collection.user-search-results>.collection-item>.row>.col>h5,
.collection.user-search-results>.collection-item>.row>.col>h6,
.collection.quiz-search-results>.collection-item>.row>.col>h6,
.collection.quiz-search-results>.collection-item>.row>.col.s5.m4.l3.xl2 {
    margin-top: 0.8rem;
}

.collection.user-search-results>.collection-item>.row>.col>h6.truncate,
.collection.quiz-search-results>.collection-item>.row>.col>h6.truncate {
    padding-bottom: .25rem;
}

.collection .collection-item {
    padding-left: 20px;
}

/* MaterializeCSS Collapsible Style Overrides */
.collapsible-header i.fa-fw {
    min-width: 2rem;
}

.collapsible-header .col strong,
.dummy-collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.dummy-collapsible-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.dummy-collapsible-header i {
	width: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 1rem;
}

.dummy collapsible-header i::before {
	font-size: 1.6rem;
	text-align: center;
}

#modalChangePasswordCollapsible {
	margin: 0;
	border: none;
	box-shadow: none;
}

#modalChangePasswordCollapsible .collapsible-header,
#modalChangePasswordCollapsible .collapsible-body {
    padding: 0;
    border: none;
}

.collapsible-header div.col {
    padding: 0;
}

.collapsible-header.round-title,
.collapsible-header.question-title,
.collapsible-body :not(h6 span).title {
	font-size: 24px;
	font-weight: 300;
    line-height: 32px;
    margin-bottom: 1rem;
}

.collapsible-body :not(h6 span).title {
    display: block;
}

.collapsible-header.round-title,
.collapsible-header.question-title {
    margin-bottom: 0;
}

.collapsible .collapsible-body {
    padding: 1rem 2rem;
}

.collapsible-header .qcontrols,
.collapsible-header .rcontrols {
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
}

/* MaterializeCSS Checkbox Style Overrides */
.checkbox-container {
    height: 54px;
    margin-top: 0;
}

.checkbox-container label {
    position: initial;
    display: inline-block;
    width: calc(100% - 3rem) !important;
    height: calc(3rem + 1px);
    line-height: calc(3rem + 1px);
    border-bottom: 1px solid #9e9e9e;
	margin-bottom: 8px;
    margin-top: -1rem;
}

.checkbox-container.no-icon label {
    margin-left: 3rem;
}

.checkbox-container.inline-input {
    margin-top: 1rem;
}

.checkbox-container label span {
    padding-left: 25px !important;
    color: #000;
}

[type="checkbox"]:checked + span:not(.lever)::before {
    border-right: 2px solid #01579b;
    border-bottom: 2px solid #01579b;
}

.checkbox-container label.center-align {
    text-align: center !important;
}

.checkbox-container label.full-width {
    width: 100% !important;
}

.answers-container .inline-input span {
    height: 20px;
}

.answers-container .inline-input [type="checkbox"] + span:not(.lever)::before {
left: 3.5px;
}

.answers-container .inline-input [type="checkbox"]:checked + span:not(.lever)::before {
transform: translateX(-3.5px) rotate(40deg);
}

/* MaterializeCSS Spinner Style Overrides */
.spinner-layer {
    border-color: #01579b;
}

.preloader-container {
    width: 100%;
    text-align: center;
}

/* MaterializeCSS Container Style Override */
.container {
    width: 95%;
    min-width: 340px;
}

/* MaterializeCSS prefix Style Override */
.input-field .prefix {
    line-height: 1;
}

/* Valid/Invalid classes for '.correct' checkboxes */
.checkbox-container>label.valid {
    border-bottom: 1px solid #4CAF50;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}

.checkbox-container>label.invalid {
    border-bottom: 1px solid #F44336;
    -webkit-box-shadow: 0 1px 0 0 #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}


/* '.helper-collapsible' styling */
/* '.helper-collapsible' elems display helper text above invalid text/url inputs */
.helper-collapsible,
.helper-collapsible>li>.collapsible-header,
.helper-collapsible>li>.collapsible-body {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.helper-collapsible {
    margin-left: 3rem !important;
    width: calc(100% - 3rem) !important;
}

#dupTitleModal .helper-collapsible {
    margin-left: 0 !important;
    width: 100% !important;
}

.helper-collapsible.hide-on-large-and-down {
    margin-left: calc((100% / 12) * 5) !important;
    width: calc((100% /12) * 7) !important;
    padding: 0 .75rem !important;
}

.helper-collapsible.hide-on-extra-large-only,
.helper-collapsible.hide-on-extra-large-only ~ .input-field {
    margin-left: 0 !important;
    width: 100% !important;
    float: left !important;
}

.question-title ~ .collapsible-body .helper-collapsible {
    padding: 0 .75rem !important;
}

blockquote {
    margin: 10px 0 !important;
}

/* Pagination Controls */
.results-control {
    width: 100%;
    text-align: center;
}

.results-control * {
    font-size: 1.2rem !important;
}

.results-control .pageNumber,
.results-control .totalPages {
    width: 2.35rem !important;
    text-align: center !important;
    display: inline-block;
}

.results-control .pageNumber {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-color: #9E9E9E;
    padding: 0;
    height: 3rem;
    margin-bottom: 8px;
}

.results-control .pageNumber:focus {
    border-color: #01579b;
}

.search-action-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.search-no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-no-results h5 {
    margin: 0.5rem 0 0.5rem 0;
}

/* margin-top adjustment for '.compare-password' */
.input-field.compare-password {
    margin-top: calc(1rem + 20px);}


/* Custom Classes */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.btn-full-width {
    width: 100%;
}

.hidden {
    display: none;
}

/* MaterializeCSS .card-content padding adjustment */
.card-content {
    padding: 1rem 2rem !important;
}

form .user-search .search-radio-row {
    margin: 0;
}

.row div.title.col,
.row div.answers-container.col,
.row div.multi-container.col {
    padding: 0;
}


.card .card-content .card-title {
    margin-bottom: 1rem;
}

.round-row {
    margin-bottom: 0;
}

div.col.image-preview {
    margin-bottom: 1rem;
    padding-left: 3.75rem;
}

.card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .row .answers-container .input-field.col.s2.checkbox-container label {
    height: 3rem;
}


.multi-control-remove {
    margin-right: 5px;
}

.quiz-search .row .input-field {
    margin-bottom: 0;
}

#quizCollection {
    margin-top: 0.5rem !important;
}

.quiz-container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.quiz-container .divider {
    margin-top: 42px;
}

#titleRow>.col {
    padding: 0;
}

/* Fix #quizTitle label to width of parent div.input-field elem */
/* Prevents errors with select boxes at small resolutions */
#quizTitle ~ label {
    width: calc(100% - 1.5rem);
}

.modal #quizTitle ~ label {
    width: 100%;
}

/* .hide-on-large-and-down class */
/* Only show elems at 1200px and below */
@media only screen and (max-width: 1200px) {
    .hide-on-large-and-down {
        display: none !important;
    }
}

/* Medium (and below) media query */
/* affects screens of 992px wide and below */
@media only screen and (max-width: 992px) {
    /* Nav */
    nav .nav-wrapper {
        text-align: center;
    }

    nav .nav-title {
        padding: 0 !important;
    }

    nav .sidenav-trigger.right {
        position: absolute;
        right: 0;
    }

    /* Images */
    img {
        max-width: 274px;
        max-height: 274px;
    }

    img.small {
        max-width: 150px;
        max-height: 150px;
    }

    /* admin_users.html */
    .collapsible-search .collapsible-body {
        padding: 1rem;
    }

    .collapsible-search .collapsible-body .collapsible {
        margin-bottom: 0;
        border: none;
        box-shadow: initial;
    }

    .collapsible-header[data-role-group]~.collapsible-body {
        padding: 1rem;
    }

    .collapsible-header[data-role-group]~.collapsible-body>.collapsible-user-roles {
        margin: 0;
    }

    .collapsible-header[data-role]~.collapsible-body {
        padding: 0;
    }

    .collapsible-header[data-role]~.collapsible-body>.collapsible {
        border: none;
        box-shadow: initial;
    }

    .collection.user-search-results>.collection-item:last-child {
        margin-bottom: -1rem;
    }

    /* new_quiz.html, edit_quiz.html */
    .card {
        margin-bottom: 0;
        transition: none;
        border-radius: initial !important;
        box-shadow: initial;
    }

    .card-content {
        padding: 0 !important;
        border-radius: initial !important;
    }

    .card .card-content .card-title {
        font-size: 20px !important;
        margin-bottom: 0.5rem !important;
    }

    .card .card-content .row {
        margin-bottom: 1rem;
    }

    .card .card-content .row .collapsible .collapsible-body {
        padding: 1rem;
    }

    .card .card-content .row .collapsible .collapsible-body .col .row {
        margin-left: 0;
        margin-right: 0;
    }

    .card .card-content .row .collapsible .collapsible-body .row .s12 {
        padding: 0;
    }

    .card .card-content .row .collapsible .collapsible-body .title {
        font-size: 20px;
        margin-bottom: 0.5rem;
    }

    .card .card-content .row .collapsible .collapsible-body .input-field.col:not(.multi-input):not(.inline-input) label {
        left: 0;
    }

    .card .card-content .row .collapsible .collapsible-header[data-round]~.collapsible-body .round-row~.row {
        margin-bottom: 0;
    }

    .card .card-content .row .collapsible .collapsible-header[data-round]~.collapsible-body .row .collapsible {
        margin-bottom: 0;
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body {
        padding-bottom: 0;
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .input-field:not(.multi-input) i {
        width: 0;
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .input-field:not(.multi-input) label {
        margin-left: 0;
        width: 100%
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .input-field:not(.multi-input) input {
        margin-left: 0;
        width: 100%;
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .checkbox-container:not(.inline-input) label {
        width: 100% !important;
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .row {
        margin-bottom: 0;
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .row .title .col.s10,
    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .row .answers-container .input-field.col.s10 {
        padding-left: 0;
        padding-right: 0.25rem;
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .row .title .col.s2,
    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .row .answers-container .input-field.col.s2 {
        padding-right: 0;
        padding-left: 0;
    }

    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .row .title .col.s10,
    .card .card-content .row .collapsible .collapsible-header[data-question]~.collapsible-body .row .title .col.s2 {
        font-size: 1rem;
    }

    .question-title ~ .collapsible-body .helper-collapsible {
        padding: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
    }

    /* modal */
    .modal {
        width: 95%;
        min-width: 342px !important;
        max-height: 90%;
    }

    .modal .modal-content {
        padding: 1rem !important;
    }
}

/* Quiz Sheet Print Media Query */
@media print {
    @page {
        size: auto;
        width: 210mm;
        height: 297mm;
        margin: 30mm 30mm 30mm 30mm;
    }

    body {
        max-width: 210mm !important;
        width: 150mm !important;
        padding: initial !important;
   }

   .quiz-container.container {
       max-width: 210mm !important;
       width: 150mm !important;
       margin: initial !important;
   }

   #quizSheet>h3 {
       margin-top: 0;
   }

   /* Images */
   #quizSheet img {
       max-width: 50mm;
       max-height: 50mm;
   }

   .page-break-before-always {
       page-break-before: always;
   }

   .page-break-inside-avoid {
       page-break-inside: avoid;
   }

   .page-break-after-avoid {
       page-break-after: avoid;
   }

}