{% extends "base.html" %}
{% block content %}
    <!-- Modal Structure -->
    <div id="editUserModal" class="modal">
        <form class="col s12" method="POST" action="">                                                                    
            <div class="modal-content">
                <!-- title and close button -->
                <div class="modal-title-row row">
                    <div class="col s11">
                        <h4 id="modalTitle">Edit User</h4>                        
                    </div>
                    <div class="col s1 modal-close-button">
                        <a class="modal-action modal-close light-blue-text text-darken-4" href="#">&times</a>
                    </div>
                </div>
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                        <input id="modalUserId" name="user_id" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" value="" required>
                        <label for="modalUserId" data-error="Invalid Username." data-default="User Id">User Id</label>                        
                        <input id="modalOrigUserId" class="hidden" name="orig_user_id" type="text" value="">
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
                        <input id="modalUserEmail" name="email" type="email" class="validate" value="" required>
                        <label for="modalUserEmail" data-error="Invalid Email Address." data-default="Email">Email</label>
                    </div>
                </div>
                <!-- group/role selection -->
                <div class="row">
                    <div class="input-field col s12 select-container">
                        <i id="modalUserRoleIcon" class="prefix light-blue-text text-darken-4 fas"></i>
                        <select id="modalUserRole" name="role">
                            {% for role_group in role_groups %}
                            <optgroup label='<i class="fas {{ role_group.role_group_icon["class"] }} fa-fw"></i> {{ role_group.role_group }}'>
                                {% for role in user_roles if role.role_group == role_group.role_group %}                            
                                <optgroup label='<div class="subopt" onclick="modalOptionClick(this);"><i class="fas {{ role.role_icon["class"] }} fa-fw light-blue-text text-darken-4"></i> <span class="light-blue-text text-darken-4">{{ role.role }}</span></div>'>
                                    <option value="{{ role.role }}">{{ role.role }}</option>
                                </optgroup>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                        <label>User Role</label>
                    </div>
                </div>                
                <!-- locked -->
                <div class="row">
                    <div class="input-field col s12 checkbox-container">
                        <i id="modalUserLockedIcon" class="fas fa-unlock prefix light-blue-text text-darken-4"></i>
                        <label id="modalUserLocked">
                            <input id="modalUserLockedInput" name="locked" type="checkbox"/>
                            <span>User Locked?</span>
                        </label>
                    </div>
                </div>
                <!-- change password? -->
                <div class="row">
                    <div class="input-field col s12 checkbox-container no-icon no-bottom-margin">                                                                                    
                        <label id="modalChangePassword">
                            <input id="modalChangePasswordInput" type="checkbox"/>
                            <span>Change Password?</span>
                        </label>
                    </div>
                </div>
                <ul id="modalChangePasswordCollapsible" class="collapsible light-blue-text text-darken-4">
                    <li>
                        <div class="collapsible-header"></div>
                        <div class="collapsible-body">
                            <!-- password -->
                            <div id="modalUserPwdRow" class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                                    <input id="modalUserPwd" name="pwd" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" disabled="true" required>
                                    <label for="modalUserPwd" data-error="Invalid Password." data-default="Password">Password</label>                                    
                                </div>
                            </div>
                            <!-- password confirmation -->
                            <div id="modalUserCpwdRow" class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                                    <input id="modalUserCpwd" name="cPwd" type="password" disabled="true" required>
                                    <label for="modalUserCpwd" data-error="" data-default="Password Confirmation">Password Confirmation</label>
                                </div>
                            </div>                
                        </div>
                    </li>
                </ul>
                <!-- save changes -->
                <div class="row modal-action-container">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow" onsubmit="return modalValidate();">
                        Save Changes <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Collapsible Content -->
    <h3 class="light-blue-text text-darken-4 center-align">Manage Users</h3>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible collapsible-search light-blue-text text-darken-4">
                <li>
                    <!-- Search -->
                    <div class="collapsible-header"><i class="fas fa-search"></i><span>Search</span></div>
                    <div class="collapsible-body">
                        <div class="user-search">
                            <!-- user id search-->
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-user prefix light-blue-text text-darken-4"></i>
                                    <input id="userSearch" name="userSearch" type="text" minlength="2" value="" class="validate">
                                    <label for="userSearch" data-error="Please Enter at least 2 Characters." data-default="User Search">User Search</label>
                                </div>
                            </div>
                            <!-- search button -->
                            <div class="row search-action-container">
                                <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow" onclick="getSearchResults(this)">
                                    Search <i class="fas fa-sign-in-alt"></i>
                                </button>
                            </div>
                            <ul class="collapsible">
                                <div class="results-control hidden">
                                    <a href="#" onclick="getRecord('first', this);">First</a>
                                    <a href="#" onclick="getRecord('prev', this);">Prev</a>
                                    <input class="pageNumber browser-default" name="pageNumber" type="text" minlength="1" maxlength="4" pattern="^[0-9]{1,4}$" value="1">
                                    <span>of</span>
                                    <span class="totalPages"></span>
                                    <a href="#" onclick="getRecord('next', this);">Next</a>
                                    <a href="#" onclick="getRecord('last', this);">Last</a>
                                </div>                                                    
                                <div id="userSearchResults" class="results-data">
                                    <!--returned records go here-->
                                </div>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="collapsible collapsible-role-groups light-blue-text text-darken-4">
                {% for role_group in role_groups %}
                <li>
                    {% if role_group.member_count == 0 %}
                        <div class="dummy-collapsible-header grey-text text-lighten-1" data-role-group="{{ role_group.role_group }}">
                    {% else %}
                        <div class="collapsible-header" data-role-group="{{ role_group.role_group }}">
                    {% endif %}
                            <i class="fas {{ role_group.role_group_icon["class"] }} fa-fw"></i><span class="collapsible-header-text">{{ role_group.role_group }} (<span>{{ role_group.member_count }}</span>)</span></div>
                    <div class="collapsible-body">
                        <ul class="collapsible collapsible-user-roles">
                            {% for role in user_roles if role.role_group == role_group.role_group %}
                                <li>
                                    {% if role.member_count == 0 %}
                                        <div class="dummy-collapsible-header grey-text text-lighten-1" data-role="{{ role.role }}"><i class="fas {{ role.role_icon["class"] }} fa-fw"></i><span class="collapsible-header-text">{{ role.role_desc }} (<span>{{ role.member_count }}</span>)<span></div>
                                    {% else %}
                                        <div class="collapsible-header" data-role="{{ role.role }}"><i class="fas {{ role.role_icon["class"] }} fa-fw"></i><span class="collapsible-header-text">{{ role.role_desc }} (<span>{{ role.member_count }}</span>)<span></div>
                                        <div class="collapsible-body">                                        
                                            <ul class="collapsible">
                                                <div class="results-control">
                                                    <a href="#" onclick="getRecord('first', this);">First</a>
                                                    <a href="#" onclick="getRecord('prev', this);">Prev</a>
                                                    <input class="pageNumber browser-default" name="pageNumber" type="text" minlength="1" maxlength="4" pattern="^[0-9]{1,4}$" value="1">
                                                    <span>of</span>
                                                    <span class="totalPages"></span>
                                                    <a href="#" onclick="getRecord('next', this);">Next</a>
                                                    <a href="#" onclick="getRecord('last', this);">Last</a>
                                                </div>                                                    
                                                <div class="results-data">
                                                    <!--returned records go here-->
                                                </div>
                                            </ul>                                        
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>        
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/editusers.js') }}"></script>
<script>
    // Convert mongoDB data to JS global array for use in this template
    let roleList = createRoleArray({{ user_roles | tojson }});
</script>
{% endblock %}