{% extends "base.html" %}
{% block content %}
    <!-- Modal Structure -->
    <div id="editUserModal" class="modal">
        <form class="col s12" method="POST" action="">                                                                    
            <div class="modal-content">
                <!-- title and close button -->
                <div class="modal-title-row row">
                    <div class="col s11">
                        <h4 id="modalTitle"></h4>
                        <input id="modalOrigUserId" class="hidden" name="orig_user_id" type="text" value="">
                    </div>
                    <div class="col s1 modal-close-button">
                        <a class="modal-action modal-close light-blue-text text-darken-4" href="#">&times</a>
                    </div>
                </div>
                <!-- locked -->
                <div class="row">
                    <div class="input-field col s12 checkbox-container">
                        <i class="fas fa-lock prefix light-blue-text text-darken-4"></i>
                        <label id="modalUserLocked">
                            <input id="modalUserLockedInput" name="locked" type="checkbox"/>
                            <span>User Locked?</span>
                        </label>
                    </div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
                        <input id="modalUserEmail" name="email" type="email" class="validate" value="" required>
                        <label for="modalUserEmail">Email</label>
                    </div>
                </div>
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                        <input id="modalUserId" name="user_id" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" value="" required>
                        <label for="modalUserId">User Id</label>
                    </div>
                </div>
                <!-- group/role selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <i id="modalUserRoleIcon" class="prefix light-blue-text text-darken-4 fas"></i>
                        <select id="modalUserRole" name="role">
                            {% for role_group in role_groups %}
                            <optgroup label='<i class="fas {{ role_group.role_group_icon["class"] }} fa-fw"></i> {{ role_group.role_group }}'>
                                {% for role in user_roles if role.role_group == role_group.role_group %}                            
                                <optgroup label='<div class="subopt" onclick="optionClick(this);"><i class="fas {{ role.role_icon["class"] }} fa-fw light-blue-text text-darken-4"></i> <span class="light-blue-text text-darken-4">{{ role.role }}</span></div>'>
                                    <option value="{{ role.role }}">{{ role.role }}</option>
                                </optgroup>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                        <label>User Role</label>
                    </div>
                </div>
                <!-- change password? -->
                <div class="row">
                    <div class="input-field col s12 checkbox-container noicon">                                                                                    
                        <label id="modalChangePassword">
                            <input id="modalChangePasswordInput" type="checkbox"/>
                            <span>Change Password?</span>
                        </label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="modalUserPwd" name="pwd" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" disabled="true" required>
                        <label for="modalUserPwd">Password</label>
                        <span class="helper-text" data-error="Invalid Password."></span>
                    </div>
                </div>
                <!-- password confirmation -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="modalUserCpwd" name="cPwd" type="password" disabled="true" required>
                        <label for="modalUserCpwd">Password Confirmation</label>
                        <span id="modalUserCpwdHlp" class="helper-text" data-error=""></span>
                    </div>
                </div>                
                <!-- save changes -->
                <div class="row modal-action-container">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow" onsubmit="return modalValidate();">
                        Save Changes <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <h3 class="light-blue-text text-darken-4 center-align">Manage Users</h3>
    <div class="row">
        <div class="col s12">    
            <ul class="collapsible light-blue-text text-darken-4">
                {% for role_group in role_groups %}
                <li>
                    {% if role_group.member_count == 0 %}
                        <div class="collapsible-header grey-text text-lighten-1">
                    {% else %}
                        <div class="collapsible-header">
                    {% endif %}
                            <i class="fas {{ role_group.role_group_icon["class"] }} fa-fw"></i>{{ role_group.role_group }} ({{ role_group.member_count }})</div>
                    <div class="collapsible-body">
                        <ul class="collapsible">
                            {% for role in user_roles if role.role_group == role_group.role_group %}
                                <li>
                                    {% if role.member_count == 0 %}
                                        <div class="dummy-collapsible-header grey-text text-lighten-1"><i class="fas {{ role.role_icon }} fa-fw"></i>{{ role.role_desc }} ({{ role.member_count }})</div>
                                    {% else %}
                                        <div class="collapsible-header"><i class="fas {{ role.role_icon["class"] }} fa-fw"></i>{{ role.role_desc }} ({{ role.member_count }})</div>                                    
                                        <div class="collapsible-body">                                        
                                            <ul class="collapsible">
                                                <ul class="collection">                                                    
                                                    {% for user in users if user.role == role.role %}                                                        
                                                        <li class="collection-item avatar">
                                                            <ul>
                                                                <li>
                                                                    <h6>
                                                                    <i class="fas {{ user.role_icon["class"] }} fa-fw"></i>
                                                                    <span class="title">{{ user.user_id|capitalize }}</span>                                                    
                                                                    </h6>
                                                                </li>

                                                                <li>
                                                                    <h6>
                                                                        <a href="mailto:{{ user.email }}">
                                                                            <i class="fas fa-envelope fa-fw"></i>
                                                                            <span class="title">{{ user.email }}</span>                                                    
                                                                        </a>
                                                                    </h6>
                                                                </li>
                                                            </ul>                                                                                                                
                                                            <a class="secondary-content light-blue-text text-darken-4 modal-trigger" href="#editUserModal" onclick="popModal('{{ user.user_id }}')">
                                                                {% if user.locked %}
                                                                    <i class="red-text text-darken-4 fas fa-lock fa-fw"></i>
                                                                {% else %}
                                                                    <i class="fas fa-unlock fa-fw"></i>
                                                                {% endif %}
                                                                <i class="fas fa-user-edit"></i>
                                                            </a>                                                    
                                                        </li>
                                                    {% endfor %}                                                
                                                </ul>
                                            </ul>                                        
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>        
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/editusers.js') }}"></script>
<script>
    let userList = createUserArray({{ users | tojson }});
    let roleList = createRoleArray({{ user_roles | tojson }});
</script>
{% endblock %}