{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Register</h3>
    <div class="row">
        <form id="register" class="col s12 m8 offset-m2 formValidate" method="POST" action="{{ url_for('register') }}">
            <!-- Prevent Submission of Form on Enter Keypress -->
            <!-- https://stackoverflow.com/questions/895171/prevent-users-from-submitting-a-form-by-hitting-enter/51507806#51507806 -->
            <button class="hidden" type="submit" disabled></button>
            <div class="card-panel">
                <!-- email -->
                <div class="row">
                    <ul id="emailHelperCollapsible" class="collapsible helper-collapsible col s12">
                        <li>
                            <div class="collapsible-header"></div>
                            <div class="collapsible-body">
                                <blockquote class="black-text">
                                    Please enter a valid email address.
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                    <div class="input-field col s12">
                        <i class="fas fa-envelope prefix light-blue-text text-darken-4"></i>
                        <input id="email" name="email" type="email" required>
                        <label for="email" data-error="Invalid Email Address." data-default="Email Address">Email Address</label>
                    </div>
                </div>
                <!-- username -->
                <div class="row">
                    <ul id="uIdHelperCollapsible" class="collapsible helper-collapsible col s12">
                        <li>
                            <div class="collapsible-header"></div>
                            <div class="collapsible-body">
                                <blockquote class="black-text">
                                    A valid Username is 5-15 characters in length, consisting of numbers, lower/upper case letters.
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                        <input id="user_id" name="user_id" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="user_id" data-error="Invalid Username." data-dup="Username already in use.  Please choose another." data-default="Username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row password-container">
                    <ul id="pwdHelperCollapsible" class="collapsible helper-collapsible col s12">
                        <li>
                            <div class="collapsible-header"></div>
                            <div class="collapsible-body">
                                <blockquote class="black-text">
                                    A valid password is 5-15 characters in length, consisting of numbers, lower/upper case letters.
                                </blockquote>
                            </div>
                        </li>
                    </ul>
                    <div class="input-field password col s12">
                        <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="pwd" name="pwd" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="pwd" data-error="Invalid Password." data-default="Password">Password</label>
                    </div>
                    <!-- password confirmation -->
                    <div class="input-field compare-password col s12">
                        <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="cPwd" name="cPwd" type="password" required>
                        <label for="cPwd" data-error="" data-default="Password Confirmation">Password Confirmation</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button id="registerSubmitButton" type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="row col s12">
            <p class="center-align">
                Already Registered? <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}