{% extends "base.html" %}
{% block content %}
    <!-- Main Content -->
    <div id="viewQuiz" class="container">
        <div id="titleRow" class="row">
            <div class="col s2"></div>
            <div class="col s8 center-align">
                <h3 id="quizOriginalTitle" class="light-blue-text text-darken-4" >{{ viewQuiz.title }}</h3>
            </div>
            <div class="col s2">
                {% if 'user' in session %}
                    <!-- copy quiz link -->
                    <h3 class="right-align">
                        <a class="light-blue-text text-darken-4 tooltipped copy-quiz" data-position="bottom" data-tooltip="Copy Quiz" href="#!">
                            <i class="fas fa-copy fa-fw"></i>
                        </a>
                    </h3>
                {% endif %}
            </div>
        </div>
        <!-- quiz author -->
        <h5 class="light-blue-text text-darken-4 center-align">By: {{ viewQuiz.author }}</h5>
        <!-- quiz category -->
        <h5 class="light-blue-text text-darken-4 center-align">Category: <i class="fas {{ viewQuiz.category_icon.class }} fa-fw"></i> {{ viewQuiz.category }}</h5>
        <div class="divider"></div>
        <!-- quiz container -->
        <div class="quiz-container">
            <!-- rounds -->
            {% for round in viewQuiz.rounds %}
                <!-- round header text -->
                <h5 class="light-blue-text text-darken-4 center-align">Round {{ round.round_num }}</h5>
                <h5 class="light-blue-text text-darken-4 center-align">
                    {% if viewQuiz.category.lower() == 'general knowledge' %}
                        <i class="fas {{ round.category_icon.class }} fa-fw"></i>
                    {% endif %}
                    {{ round.title }}
                </h5>
                <!-- Questions -->
                {% for question in round.questions %}
                    <div class="page-break-inside-avoid">
                        <h6 class="light-blue-text text-darken-4 left-align">
                            Q{{ question.question_num}}) {{ question.question_text }}
                        </h6>

                        {% if question.question_img_url != '' %}
                            <div class="center-align">
                                <!-- image -->
                                <img id="img_q_{{ round.round_num }}_{{ question.question_num }}" class="quiz-image hidden" alt="Image for Question {{ question.question_num }} of Round {{ round.round_num }}">
                                <!-- preloader -->
                                <div class="preloader-container">
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if question.multiple_choice == False %}
                            <!-- Answer -->
                            <h6 class="light-blue-text text-darken-4 left-align">
                                A{{ question.question_num }}) {{ question.answer_text }}
                            </h6>
                            {% if question.answer_img_url != '' %}
                                <div class="center-align">
                                    <img id="img_a_{{ round.round_num }}_{{ question.question_num }}" class="quiz-image hidden" alt="Image for Question {{ question.question_num }} of Round {{ round.round_num }}">
                                    <div class="preloader-container">
                                        <div class="preloader-wrapper big active">
                                            <div class="spinner-layer">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="gap-patch">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% for option in question.multiple_choice_options %}
                                <!-- Multiple Choice Option -->
                                <h6 class="light-blue-text text-darken-4">
                                    &emsp;{{ option.option_num}}) {{ option.answer_text }}
                                    {% if option.answer_text != '' %}
                                        {% if option.correct == True %}
                                            <i class="fas fa-check fa-fw"></i>
                                        {% endif %}
                                    {% endif %}
                                </h6>
                                {% if option.answer_img_url != '' %}
                                    <div class="center-align">
                                        <!-- image -->
                                        <img id="img_o_{{ round.round_num }}_{{ question.question_num }}_{{ option.option_num }}" class="quiz-image hidden" alt="Image for Multiple Choice Option {{ option.option_num }} for Question {{ question.question_num }} of Round {{ round.round_num }}">
                                        <!-- preloader -->
                                        <div class="preloader-container">
                                            <div class="preloader-wrapper big active">
                                                <div class="spinner-layer">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="gap-patch">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if option.answer_text == '' %}
                                        {% if option.correct == True %}
                                            <h6 class="light-blue-text text-darken-4">
                                                <i class="fas fa-check fa-fw"></i>
                                            </h6>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="divider"></div>
                {% endfor %}
                <div class="divider"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<!-- Additional Javascript -->
{% block scripts %}
    <script src="{{ url_for('static', filename='js/copyquiz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/viewquiz.js') }}"></script>
    <script>
        /* Document Ready Function */
        $(function() {
            // Load images
            loadImg({{ viewQuiz.rounds | tojson }});

            {% if 'user' in session %}
                // Initialise listeners and MaterializeCSS modal for quiz copy functionality
                initQuizCopy()

                // Set data-quizId attribute on modalCopyQuizButton
                $('#modalCopyQuizButton').attr('data-quizId', '{{ viewQuiz._id }}');
            {% endif %}
        });
    </script>
{% endblock %}