{% extends "base.html" %}
{% block content %}
    <div id="viewQuiz" class="container">
        <h3 class="light-blue-text text-darken-4 center-align">{{ viewQuiz.title }}</h3>
        <div class="divider"></div>
        <h4 class="light-blue-text text-darken-4 center-align"><i class="fas {{ viewQuiz.category_icon.class }} fa-fw"></i>{{ viewQuiz.category }}</h4>
        <div class="divider"></div>
        {% for round in viewQuiz.rounds %}
            <h4 class="light-blue-text text-darken-4 center-align">
                {% if viewQuiz.category == 'general knowledge' %}
                    <i class="fas {{ round.category_icon.class }} fa-fw"></i>
                {% endif %}
                Round {{ round.round_num }} : {{ round.title }}
            </h4>
            {% for question in round.questions %}
                <h6 class="light-blue-text text-darken-4 left-align">
                    Q{{ question.question_num}}) {{ question.question_text }}
                </h6>

                {% if question.question_img_url != '' %}
                    <div class="center-align">
                        <img class="quiz-image hidden" src="{{ question.question_img_url }}">
                    </div>
                {% endif %}
                {% if question.multiple_choice == False %}
                    <h6 class="light-blue-text text-darken-4 left-align">
                        &emsp;A{{ question.question_num }}) {{ question.answer_text }}
                    </h6>
                    {% if question.answer_img_url != '' %}
                        <div class="center-align">
                            <img class="quiz-image hidden" src="{{ question.answer_img_url }}">
                        </div>
                    {% endif %}
                {% else %}
                    {% for option in question.multiple_choice_options %}
                        <h6 class="light-blue-text text-darken-4">
                            &emsp;{{ option.option_num}}) {{ option.answer_text }}
                        </h6>
                        {% if option.answer_img_url != '' %}
                            <div class="center-align">
                                <img class="quiz-image hidden" src="{{ option.answer_img_url }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <div class="divider"></div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/viewquiz.js') }}"></script>
{% endblock %}